---
# PersistentVolume for NFS with Kerberos using NFSv3
# NFSv3 doesn't have ID mapping issues
apiVersion: v1
kind: PersistentVolume
metadata:
  name: photostructure-photos-pv
spec:
  capacity:
    storage: 300Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-kerberos
  mountOptions:
    - vers=3
    - sec=krb5
    - hard
    - intr
  nfs:
    server: file-server.cube.k8s
    path: /srv/shares/photos-vol

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: photostructure-lib-pv
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-kerberos
  mountOptions:
    - vers=3
    - sec=krb5
    - hard
    - intr
  nfs:
    server: file-server.cube.k8s
    path: /srv/shares/photos-lib
